# MongoDB data and logs
data/
logs/
.luks/

certs/ca.key
certs/ca.srl
certs/mongo-truststore.jks
certs/server.key
certs/server.csr
certs/server.pem
certs/server.crt

# Benchmark results
results/

# MongoDB config files (generated)
#configs/

# Compiled bytecode
target/
src/target/
**/target/

# Output files from testing
output*

# IDE files
.project
.classpath
.settings
.checkstyle
.idea/
*.iml
*.ipr
*.iws

# Editor temp files
*.swp
*~

# macOS
.DS_Store
